html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  background-color: #eee;
}
*:not([class^='el-']) {
  box-sizing: border-box;
}
.white {
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.gray {
  background-color: #eef0f3;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.m-lr10 {
  margin-left: 10px;
  margin-right: 10px;
}
.p20 {
  padding: 20px;
}
.pl20 {
  padding-left: 20px;
}
.text-right {
  text-align: right;
}
.fr {
  float: right;
}
.flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.tips {
  margin-left: 15px;
  color: #787878;
}

/*
* 公共样式
*/

.list-inline {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    line-height: 50px;
    width: 120px;
    display: flex;
    position: relative;
    justify-content: center;

    &:hover {
      color: #348fe4;
    }

    &:hover::after {
      content: '';
      position: absolute;
      width: 100px;
      height: 2px;
      background-color: #348fe4;
      bottom: -1px;
      left: 10px;
    }
  }
  .active {
    color: #348fe4 !important;

    &:after {
      content: '';
      position: absolute;
      width: 100px;
      height: 2px;
      background-color: #348fe4;
      bottom: 0;
      left: 10px;
    }
  }
}
.el-dialog__body {
  padding: 0 !important;
}
.dialog-content {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
